@use "../field-selectors" as *;

.layout-single-column,
.layout-multiple-columns {
  #{$field-list} > #{$field-item}:has(dd a[href*="friendica" i])::before {
    background-image: var(--icon-friendica);
    content: "";
    transform: scale(0.9);
  }
}
