// Vars on iPad, landscape
@media (width >= 1175px) and (width <= 1260px) {
  :root {
    --width-main-panel: 500px;
    // stylelint-disable-next-line
    --width-side-panel: 265px;
    // stylelint-disable-next-line
    --width-compose-panel: 265px;
  }
}
