// Accented items like links, toggles, backgrounds, strokes
.layout-single-column,
.layout-multiple-columns {
  // Accented items like links
  .about__section__title,
  ._comp_account_header__bioButtonsWrapper ._comp_account_header__fieldList a,
  .column-back-button,
  .emoji-mart-anchor.emoji-mart-anchor-selected,
  .text-icon-button.active,
  .empty-column-indicator a,
  .follow_requests-unlocked_explanation a,
  .column-header__back-button,
  .link-button,
  .reply-indicator__content a.unhandled-link,
  .status__content a.unhandled-link,
  .column-header > .column-header__back-button,
  .reply-indicator__content a,
  .status__content a,
  .column-link--transparent.active,
  .status__content__read-more-button,
  .status__content__translate-button {
    color: var(--color-accent);
  }

  // Toggles
  .react-toggle .react-toggle-track {
    background-color: var(--color-bg);
  }

  // Accented background colors
  .react-toggle--checked .react-toggle-track,
  .language-dropdown__dropdown__results__item.active,
  .icon-with-badge__badge,
  .button {
    background-color: var(--color-accent-dark);
  }

  .block-modal__cancel-button,
  .confirmation-modal__cancel-button,
  .confirmation-modal__secondary-button,
  .mute-modal__cancel-button {
    background-color: transparent;
    color: var(--color-dim);
    font-size: var(--font-size-mid);
  }

  .block-modal__cancel-button:focus,
  .confirmation-modal__cancel-button:focus,
  .confirmation-modal__secondary-button:focus,
  .mute-modal__cancel-button:focus,
  .block-modal__cancel-button:hover,
  .confirmation-modal__cancel-button:hover,
  .confirmation-modal__secondary-button:hover,
  .mute-modal__cancel-button:hover {
    background-color: transparent;
    color: var(--color-dark-electric-blue);
  }

  .column-link--transparent .icon-with-badge__badge,
  .icon-with-badge__badge {
    background-color: var(--color-accent-dark);
    border-color: var(--color-bg);
  }

  // Accented strokes
  .trends__item__sparkline path:last-child {
    // It's inlined so we have to use !important
    stroke: var(--color-accent) !important;
  }

  // Dropdown hovers
  .language-dropdown__dropdown__results__item:hover,
  .language-dropdown__dropdown__results__item:focus {
    background-color: var(--color-accent-dark-50);
    color: var(--color-light-text);
  }

  // Accented border colors
  .notification.unread::before,
  .status__wrapper.unread::before {
    border-color: var(--color-accent);
    display: none;
  }
}
