// Column header, borders, box shadows
.layout-single-column,
.layout-multiple-columns {
  // Column-header border
  .column-header__collapsible {
    border-bottom: 1px solid var(--color-border);
    border-left: 0;
    border-right: 0;
  }

  .column-header__collapsible,
  .column-header__collapsible.collapsed {
    opacity: 1;
  }

  // Has dark 1px border
  .dismissable-banner {
    border: 1px solid var(--color-dark);
  }

  // More subtle box-shadow for dropdown-menu
  .search-popout,
  .search__popout,
  .dropdown-menu {
    box-shadow: 2px 4px 16px rgb(0 0 0 / 1%);
  }

  // Autosuggest box shadow reset
  .search-popout,
  .search__popout,
  .dropdown-menu,
  .emoji-picker-dropdown__menu,
  .compose-form .compose-form__warning,
  .privacy-dropdown.active .privacy-dropdown__value,
  .privacy-dropdown__dropdown,
  .language-dropdown__dropdown,
  .compose-form .autosuggest-textarea__suggestions {
    box-shadow: none;
  }

  // Composer form warnings
  .compose-form .compose-form__warning {
    background-color: var(--color-dark);
    border-color: var(--color-dark);
    color: var(--color-light-text);
  }

  // Content warning placeholder
  .compose-form .autosuggest-textarea__textarea::placeholder,
  .compose-form .spoiler-input__input::placeholder {
    color: var(--color-dim);
  }

  // Border colors
  .search-results__section__header,
  ._comp_account_header__barWrapper,
  .about__meta__divider,
  .poll__footer,
  .report-dialog-modal .poll__option.dialog-option,
  .account,
  .report-dialog-modal__container,
  .dropdown-menu__item.edited-timestamp__history__item,
  .dropdown-menu__container__header,
  .compare-history-modal .report-modal__target,
  .account__section-headline,
  .detailed-status__action-bar,
  .column-back-button,
  .column-header,
  .audio-player,
  .video-player,
  .media-gallery,
  .compose-form .spoiler-input__input,
  .compose-form__autosuggest-wrapper,
  .compose-form__poll-wrapper,
  .compose-form__poll-wrapper select,
  .poll__option input[type="text"],
  .report-dialog-modal__textarea,
  .search__input,
  .setting-text,
  .dropdown-menu__separator,
  .status,
  .emoji-mart-search input,
  .conversation,
  .setting-text__wrapper {
    border-color: var(--color-border);
  }
}
