// Compose form, buttons, footer
.layout-single-column,
.layout-multiple-columns {
  // Default buttons
  .compose-form__buttons button,
  .button {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
  }

  // Compose hover and focus fix
  .report-dialog-modal__actions .button:hover,
  .server-banner .button,
  .sign-in-banner .button,
  .ui__header__links .button,
  .compose-form__publish-button-wrapper button {
    background-color: var(--color-accent-dark);
    border-color: var(--color-accent-dark);
    color: var(--color-button-text);
    transition: all 200ms;
  }

  // Compose form
  .compose-panel .compose-form__highlightable,
  .compose-panel .compose-form {
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 4;
  }

  .compose-form__uploads.media-gallery {
    margin-left: 0;
  }

  .compose-form .compose-form__uploads {
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  // New compose form buttons from 4.3.0-alpha 2024-01-27
  .compose-form__dropdowns {
    gap: 10px;
  }

  .compose-form .media-gallery__item,
  .compose-form .compose-form__uploads,
  .compose-form .media-gallery {
    border: 0;
    border-radius: 0;
    outline: 0;
  }

  .compose-form__dropdowns .dropdown-button.active,
  .compose-form__dropdowns .dropdown-button {
    background-color: transparent;
    border: 0;
    color: var(--color-dim);
    padding: 0;
  }

  .compose-form__dropdowns .dropdown-button.active,
  .compose-form__dropdowns .dropdown-button:hover,
  .compose-form__dropdowns .dropdown-button:focus {
    color: var(--color-accent);
  }

  // Override new warning button color (.dropdown-button.warning), v4.4.0-alpha.4+mementomods-2025-05-03
  .compose-form__dropdowns .dropdown-button.warning,
  .compose-form__dropdowns .dropdown-button.warning.active,
  .compose-form__dropdowns .dropdown-button.warning:hover,
  .compose-form__dropdowns .dropdown-button.warning:focus {
    color: var(--color-yellow);
  }

  .compose-form__submit {
    flex: unset;
  }

  .compose-form__actions {
    justify-content: space-between;
  }

  .compose-form__actions .icon-button.active {
    background-color: transparent;
    color: var(--color-accent);
  }

  // Footer items
  .link-footer {
    position: relative;
    z-index: 5;
  }

  .link-footer p .version {
    white-space: normal;
  }

  .compose-form__footer {
    gap: 4px;
    padding-bottom: 6px;
  }

  // Add slight background color for the compose form
  .compose-form .compose-form__highlightable,
  .compose-form__highlightable .compose-form__buttons-wrapper,
  .compose-form .compose-form__autosuggest-wrapper,
  .compose-form .compose-form__buttons-wrapper {
    background-color: var(--color-bg-compose-form);
    border-color: var(--color-bg-compose-form);
    padding-top: 0;
    transition: all 200ms;
  }

  // Smooth color transition on focus
  .compose-form .compose-form__highlightable:focus-within,
  .compose-form .compose-form__autosuggest-wrapper:focus-within,
  .compose-form
    .compose-form__autosuggest-wrapper:focus-within
    ~ .compose-form__buttons-wrapper,
  .compose-form__highlightable
    .compose-form__autosuggest-wrapper:focus-within
    ~ .compose-form__buttons-wrapper {
    background-color: var(--color-bg-compose-form-focus);
    border-color: var(--color-bg-compose-form-focus);
  }

  // Fixes bottom row padding when there's a background
  .compose-form__highlightable .compose-form__buttons-wrapper,
  .compose-form .compose-form__buttons-wrapper {
    padding: calc(var(--gap-default) / 2);
  }

  .navigation-bar + .compose-form {
    padding-top: 10px;
  }

  .server-banner .button:hover,
  .server-banner .button:focus,
  .sign-in-banner .button:hover,
  .sign-in-banner .button:hover:focus,
  .ui__header__links .button:hover,
  .ui__header__links .button:focus,
  .compose-form__publish-button-wrapper button:hover,
  .compose-form__publish-button-wrapper button:focus {
    background-color: var(--color-brand-mastodon-links);
    border-color: var(--color-brand-mastodon-links);
    color: var(--color-button-text);
  }

  // Tertiary button
  .button.button-tertiary {
    background-color: transparent !important;
    border: 1px solid var(--color-accent-dark) !important;
    color: var(--color-ghost-button-text);
    padding: 6px 17px;
  }

  .button.button-tertiary:active,
  .button.button-tertiary:focus,
  .button.button-tertiary:hover {
    border: 1px solid var(--color-accent-dark);
  }

  // Secondary button
  .button.button-secondary {
    background-color: transparent;
    border: 1px solid var(--color-dim);
    color: var(--color-dim);
  }

  .button.button-secondary:hover {
    background-color: var(--color-light-text);
    border-color: var(--color-light-text);
    color: var(--color-bg);
  }

  .button.button-tertiary:focus,
  .button.button-tertiary:hover {
    background-color: var(--color-brand-mastodon-links) !important;
    border-color: var(--color-brand-mastodon-links) !important;
    color: var(--color-bg) !important;

    // This is actually wrong in Mastodon default UI as well, hover should not have padding but yet it has
    padding: 6px 17px;
  }

  // Smaller icon for back button
  .column-back-button i,
  .column-header__back-button i {
    font-size: 12px;
  }

  .icon-button__counter {
    font-size: var(--font-size-smaller);
  }
}
