// Filtered post / Content warnings
.layout-single-column,
.layout-multiple-columns {
  .status__wrapper.status__wrapper--filtered {
    align-items: center;
    background-color: var(--color-focusable-toot);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    color: var(--color-light-purple);
    display: flex;
    flex-wrap: nowrap;
    font-size: var(--font-size-mid);
    justify-content: space-between;
    margin: var(--gap-default);
    overflow: hidden;
    padding: 4px 16px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - calc(var(--gap-default) * 2));
  }

  .columns-area__panels__pane--compositional
    .compose-form
    .spoiler-input__input,
  .content-warning {
    background-color: var(--color-focusable-toot);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    color: var(--color-light-purple);
    display: grid;
    font-size: var(--font-size-mid);
    grid-template-columns: minmax(0, 3fr) minmax(88px, 1fr);
    padding: 10px 16px;
    white-space: unset;
  }

  .compose-form__highlightable:has(.spoiler-input__input) {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  .compose-form:has(.spoiler-input__input) .spoiler-input .autosuggest-input {
    border-bottom: 0;
    border-radius: var(--border-radius);
  }

  .content-warning .link-button {
    align-self: flex-start;
    color: var(--color-fg);
    font-size: var(--font-size-mid);
    font-weight: var(--font-weight-semibold);
    justify-self: flex-end;
    text-align: right;
    white-space: nowrap;
  }

  // New content warnings in 4.3.0.beta.1-mementomods-2024-08-23
  .status:not(.status--in-thread) .content-warning {
    margin-bottom: var(--gap-default);
    margin-left: calc(var(--size-avatar) + var(--gap-default));
    margin-top: var(--gap-default);
  }

  .notification-group__main__status:has(.content-warning) {
    border: 0;
    padding: 0;
  }

  .content-warning p {
    margin-bottom: 0;
  }

  .spoiler-input__border,
  .content-warning::after,
  .content-warning::before {
    display: none;
  }

  .notification:has(.status__wrapper--filtered) .notification__message {
    display: none;
  }

  // Fix hover/focus on article that has filtered banner
  article:has(.status__wrapper--filtered):hover {
    background-color: transparent;
  }

  .status__wrapper.status__wrapper--filtered button {
    background-color: rgb(255 255 255 / 0%);
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    color: var(--color-fg);
    font-weight: var(--font-weight-semibold);
    margin-left: auto;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    transition: 200ms background;
    white-space: nowrap;
  }

  .status__wrapper.status__wrapper--filtered button:focus,
  .status__wrapper.status__wrapper--filtered button:hover {
    background-color: rgb(255 255 255 / 10%);
    text-decoration: none;
  }

  // Fix load more icon dimensions
  .load-more .icon {
    height: 16px;
    width: 20px;
  }
}
