// Destructive colors
.layout-single-column,
.layout-multiple-columns {
  // For you suggestions, users when focused to the follow button
  .button.logo-button.button--destructive:active,
  .button.logo-button.button--destructive:focus {
    background-color: var(--color-destructive);
    border-color: var(--color-destructive);
  }

  // Fix character counter color when it's over the limit
  .character-counter.character-counter--over {
    color: var(--color-destructive);
  }
}
