// Embeds
body.embed {
  background-color: #0e1014 !important;
  border: 0;
  overflow: hidden !important;
}

body.embed .status__content a {
  color: var(--color-accent);
}

body.embed .activity-stream .entry {
  background-color: var(--color-bg);
}

body.embed .detailed-status {
  background-color: transparent;
}

body.embed .detailed-status__display-avatar > img {
  background-color: var(--color-bg);
  border: 0;
  border-radius: 50%;
  box-shadow: rgb(255 255 255 / 3%) 0 0 2px inset;
}

body.embed .media-gallery__item.standalone img,
body.embed .video-player .media-gallery__preview {
  object-fit: contain;
}

body.embed .status .audio-player,
body.embed .status .media-gallery,
body.embed .status .video-player,
body.embed .audio-player,
body.embed .media-gallery,
body.embed .media-gallery__gifv,
body.embed .media-gallery__preview,
body.embed .video-player {
  margin-left: calc(var(--size-avatar) + var(--gap-default));
}

body.embed [data-component="Video"] > div {
  aspect-ratio: unset !important;
}

body.embed
  .spoiler-button
  + .media-gallery__item
  > .media-gallery__preview {
  margin-left: unset !important;
  max-height: unset !important;
  width: 100% !important;
}

body.embed .media-gallery__gifv,
body.embed .detailed-status .audio-player,
body.embed .detailed-status .media-gallery,
body.embed .detailed-status .media-gallery__gifv,
body.embed .detailed-status .media-gallery__preview,
body.embed .detailed-status .video-player {
  margin-left: 0;
}

body.embed .detailed-status__link {
  margin-left: 4px;
  top: 0;
}

body.embed #mastodon-status {
  overflow: hidden;
}

body.embed .detailed-status__meta {
  color: var(--color-dim);
  font-size: var(--font-size);
  line-height: 1.5;
}

body.embed .detailed-status__reblogs,
body.embed .detailed-status__favorites {
  color: var(--color-light-text);
  display: inline-flex;
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  gap: 4px;
}

body.embed .detailed-status__meta .animated-number {
  color: var(--color-light-text);
  font-weight: var(--font-weight-bold);
}

body.embed > .activity-stream {
  backface-visibility: hidden;
  background: #313543 !important;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  overflow: hidden;
}

body.embed .detailed-status__link > .fa-reply + span::after {
  color: var(--color-dim);
  content: "Replies";
  font-weight: var(--font-weight-semibold);
}

body.embed .detailed-status__link > .fa-retweet + span::after {
  color: var(--color-dim);
  content: "Boosts";
  font-weight: var(--font-weight-semibold);
}

body.embed .detailed-status__link > .fa-star + span::after {
  color: var(--color-dim);
  content: "Favourites";
  font-weight: var(--font-weight-semibold);
}

body.embed .detailed-status__meta .detailed-status__link .fa-reply,
body.embed .detailed-status__meta .detailed-status__link .fa-star,
body.embed .detailed-status__meta .detailed-status__link .fa-retweet {
  display: none;
}

body.embed .button.logo-button {
  background-color: transparent;
  border: 1px solid var(--color-outer-space);
  border-radius: 9999px;
  color: var(--color-light-text);
  font-size: var(--font-size);
  max-width: 36vw;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-overflow: ellipsis;
  transition: all 200ms;
  white-space: nowrap;
}

body.embed .button.logo-button:hover {
  color: var(--color-light-text);
}

body.embed .entry .detailed-status {
  backface-visibility: hidden;
  background-color: #00000059;
  border: 0 !important;
  border-radius: 0 !important;
  overflow: hidden;
}
