// Follow requests unlocked explanation border
.layout-single-column,
.layout-multiple-columns {
  .follow_requests-unlocked_explanation {
    border-bottom: 1px solid var(--color-border);
    border-radius: 0;
    margin-left: 0;
    margin-top: 0;
  }
}
