// Logo
.layout-single-column,
.layout-multiple-columns {
  .ui__header__logo,
  .column-link.column-link--logo {
    background-image: var(--logo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px auto;
    height: 50px;
    padding: 0;
    width: 50px;
  }

  .ui__header__logo img,
  .ui__header__logo svg {
    display: none;
  }

  // Fixes a regression for 4.3.0-alpha.3-2024-04-06 caused by https://github.com/mastodon/mastodon/commit/4f068d4fcc4d134fcbd56faa8f39c608dd343417
  .ui__header__logo {
    flex-grow: unset;
  }
}
