// Media border radius
.layout-single-column,
.layout-multiple-columns {
  // Add border radius to media
  .media-gallery,
  .audio-player,
  .video-player,
  .media-gallery__gifv,
  .media-gallery__preview {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  // Fix double border on media
  .media-gallery .media-gallery__item .media-gallery__gifv {
    border: 0;
  }

  // Exception for your own profile media gallery
  .account-gallery__container .media-gallery__gifv {
    border-radius: 0;
  }
}
