// Navigation panel item ordering and lists panel
.layout-single-column,
.layout-multiple-columns {
  // Order of items in v4.3.0-beta2-2024-09-29
  .columns-area__panels__pane--navigational .navigation-panel__logo {
    order: 1;
  }

  .columns-area__panels__pane--navigational .navigation-panel__menu {
    order: 2;
  }

  .columns-area__panels__pane--navigational .flex-spacer {
    order: 3;
  }

  .columns-area__panels__pane--navigational .navigation-panel__portal {
    order: 4;
  }

  // New lists panel in v4.4.0-beta.1+mementomods-2025-06-14
  .navigation-panel__list-panel__header {
    .column-link {
      order: 1;
    }

    .icon-button {
      order: 2;
      position: absolute;
      right: 0;
    }
  }
}
