// Change panel order
.layout-single-column,
.layout-multiple-columns {
  .columns-area__panels__pane {
    order: 3;
  }

  .columns-area__panels__main {
    order: 2;
  }

  .columns-area__panels__pane.columns-area__panels__pane--start.columns-area__panels__pane--navigational {
    order: 1;
  }

  .columns-area__panels__pane--compositional {
    flex-grow: 1;
    height: 100vh;
    max-width: 350px;
    min-height: 500px;
    position: sticky;
    top: 0;
  }

  .emoji-mart-anchor-bar,
  .column-link.column-link--logo svg {
    display: none;
  }
}
