// Smaller icons for status action bar
.layout-single-column,
.layout-multiple-columns {
  .status__action-bar .icon {
    font-size: 14.6px;
    min-width: 18px;
  }

  .status__action-bar .icon.icon-retweet {
    min-width: 21px;
  }

  .status__action-bar .icon-button--with-counter {
    align-items: center;
    display: inline-flex;
    gap: 6px;
  }

  .status__action-bar .icon-button {
    // It's inlined so we have to use !important
    height: 24px !important;
    min-width: 45.78px !important;
    position: relative;

    // It's inlined so we have to use !important
    width: unset !important;
  }

  // Fix reply button not starting from the beginning
  .status__action-bar .icon-button:nth-of-type(1) {
    min-width: 42.22px !important;
    width: 42.22px !important;
  }

  .status__action-bar .icon-button:nth-of-type(1)::after {
    transform: translateX(4px) translateY(2px);
  }

  .status__action-bar .icon-button.icon-button--with-counter::after,
  .status__action-bar
    .icon-button.icon-button--with-counter:first-of-type::after {
    transform: translateX(-5px) translateY(1px);
  }
}
