// Text color
.layout-single-column,
.layout-multiple-columns {
  ._comp_account_header__name h1,
  ._comp_account_header__bioButtonsWrapper ._comp_account_header__bio,
  .reply-indicator__content,
  .status__content {
    color: var(--color-fg);
  }

  // Link color variants
  .status-link.hashtag {
    color: var(--color-hashtag);
  }

  .status-link.mention:not(.hashtag) {
    color: var(--color-mention);
  }

  .status-link.mention:not(.hashtag):not(.mention) {
    color: var(--color-link);
  }
}
