// Threaded lines
.layout-single-column,
.layout-multiple-columns {
  // Native Mastodon 4.1.2-nightly threaded lines
  .status__line--first {
    height: calc(100% + var(--size-avatar));
  }

  .status__line--full {
    height: calc(100% + 32px);
  }

  // Default lines when replying in real time
  div[tabindex="-1"]:has(.status--in-thread)
    .status--in-thread:not(.status--first-in-thread)
    > .status__line:not(.status__line--full) {
    height: 0;
  }

  // Hide line before first in thread
  div[tabindex="-1"]:has(.status--in-thread)
    + div[tabindex="-1"]
    > .status--in-thread.status--first-in-thread
    > .status__line:not(.status__line--full),
  div[tabindex="-1"]:has(.detailed-status__wrapper)
    + div[tabindex="-1"]
    > .status__wrapper
    .status__line:not(.status__line--full) {
    height: 0;
  }

  div[tabindex="-1"]
    + div[tabindex="-1"]
    > .status__wrapper
    > .status-reply.status--in-thread
    > .status__line.status__line--full,
  .status__line--full.status__line--first {
    height: 100%;
    z-index: -1;
  }

  .detailed-status {
    background-color: transparent;
    border-top: 0;
  }

  // Threaded line, actually
  .status__line {
    border-inline-start: 2px solid var(--color-thread-line);
  }

  .status__line--full::before {
    background-color: var(--color-thread-line);
  }

  // Hide the "stub" from the first status line
  div[tabindex="-1"]
    + div[tabindex="-1"]
    > .status__wrapper
    > .status-reply.status--in-thread
    > .status__line.status__line--full,
  .status-reply.status--in-thread.status--first-in-thread > .status__line,
  .status-reply.status--in-thread.status--first-in-thread
    > .status__line--full::before {
    top: 32px;
  }

  .status--in-thread .status__action-bar,
  .status--in-thread .status__content {
    padding-left: 6px;
  }
}
