// Typography - font sizes and line heights
.layout-single-column,
.layout-multiple-columns {
  // Things that should have the default font-size
  .notification__message,
  .status__content,
  ._comp_account_header__name h1 small,
  .button,
  .status__content__read-more-button,
  .status__prepend,
  .status__info,
  .status__relative-time,
  .status__info .status__display-name,
  .account__section-headline a,
  .account__section-headline button,
  .notification__filter-bar a,
  .notification__filter-bar button {
    font-size: var(--font-size);
    line-height: var(--line-height);
  }

  // Things that should have the mid font-size
  ._comp_account_header__bioButtonsWrapper__links,
  .columns-area__panels__pane--compositional
    .account__header__account-note
    textarea,
  ._comp_account_header__bio,
  .columns-area__panels__pane--compositional
    .compose-form
    .autosuggest-textarea__textarea,
  .columns-area__panels__pane--compositional
    .compose-form
    .spoiler-input__input {
    font-size: var(--font-size-mid);
    line-height: var(--line-height-mid);
  }

  // Exceptions
  ._comp_account_header__bio {
    line-height: 18px;
  }

  // Things that will have even smaller font size
  .account__header__account-note label {
    font-size: var(--font-size-12);
  }

  // Apply font size variable so accessible themes scale these elements
  .display-name__html {
    font-size: var(--font-size);
  }

  [class*="_comp_form_fields_form_field_wrapper__wrapper"] {
    font-size: var(--font-size);
  }

  .app-form__link__text,
  .app-form__link__text strong {
    font-size: var(--font-size-mid);
  }

  .simple_form span.hint {
    font-size: var(--font-size-smaller);
  }

  .simple_form .input.with_label .hint {
    font-size: var(--font-size-smaller);
  }

  // Line heights
  .status__content {
    line-height: var(--line-height);
  }
}
