.layout-single-column .ui,
.layout-multiple-columns .ui {
  display: flex;
  width: 100%;
}

// Body background and text color
body.layout-single-column,
body.layout-multiple-columns {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: var(--font-size-smaller);
  line-height: var(--line-height-mid);
}
