// Profile basics
.layout-single-column,
.layout-multiple-columns {
  .getting-started__trends h4,
  ._comp_account_header__barWrapper {
    border-color: var(--color-border);
  }

  ._comp_account_header__bioButtonsWrapper ._comp_account_header__fieldList {
    background-color: transparent;
    border: 0;
    color: var(--color-dim);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-default);
    padding: 0;
  }

  // New popout styles
  .account__domain-pill__popout {
    border: 1px solid var(--color-mud);
    color: var(--color-light-purple);
  }

  .account__domain-pill__popout__parts > div:nth-child(2) svg {
    background-image: var(--icon-globe-purple);
    background-size: 24px;
  }

  .account__domain-pill__popout__handle {
    background-color: var(--color-dark);
    border: 0;
    color: var(--color-accent);
    padding: 12px 10px;
  }

  // Hide unnecessary header icon for minimalism
  .account__domain-pill__popout__header__icon {
    display: none;
  }

  .account__domain-pill__popout > p {
    font-size: var(--font-size-smaller);
    line-height: 1.3;
  }
}
