// Profile header, trends, follow/unfollow button, action bar hovers
.layout-single-column,
.layout-multiple-columns {
  // Profile links end
  .getting-started__trends h4 {
    border: 0;
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-bold);
    line-height: 24px;
    margin-bottom: var(--gap-default);
    text-transform: unset;
  }

  .getting-started__trends-heading {
    border-bottom: 0;
  }

  .trends__item__name > a {
    font-size: var(--font-size);
    margin-bottom: 4px;
  }

  ._comp_account_header__avatarWrapper .account__avatar {
    background-color: transparent;
    border: 0;
  }

  ._comp_account_header__barWrapper {
    overflow: visible;
  }

  ._comp_account_header__barWrapper .account-role {
    display: none;
    width: 133.5px;
  }

  // Follow/unfollow button
  .notification__report__actions .button,
  .column-inline-form button,
  .explore__suggestions .account-card__actions__button button,
  [class*="_comp_account_header__buttons"] .button,
  .account .account__relationship > .button,
  .notification .account__relationship > .button {
    background-color: transparent;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    color: var(--color-light-text);
    font-size: var(--font-size);
    max-width: 36vw;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-overflow: ellipsis;
    transition: all 200ms;
    white-space: nowrap;
  }

  // Dark button borders and other things that have borders all around
  ._comp_account_header__barWrapper
    .button.button-secondary._comp_account_header__followButton,
  .notification__report__actions .button,
  .column-inline-form button,
  .explore__suggestions .account-card__actions__button button,
  [class*="_comp_account_header__buttons"] .button,
  [class*="_comp_account_header__buttons"] .icon-button,
  .notification .account__relationship > .button,
  .account .account__relationship > .button {
    border: 1px solid var(--color-outer-space);
  }

  // Fix focus overflow for 4.1.4-nightly
  [class*="_comp_account_header__buttons"] {
    overflow: visible;
  }

  [class*="_comp_account_header__buttons"] .icon-button {
    align-items: center;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    color: var(--color-light-text);
    display: inline-flex;
    height: 36px;
    justify-content: center;
    padding: 0;
    width: 36px;
  }

  // Copy-icon size in profile
  [class*="_comp_account_header__buttons"] .icon-button svg {
    height: 18px;
    width: 18px;
  }

  .column-inline-form button:hover,
  .explore__suggestions .account-card__actions__button button:hover,
  [class*="_comp_account_header__buttons"] .icon-button.active {
    color: var(--color-light-text);
  }

  [class*="_comp_account_header__buttons"] .icon-button .icon-bell-o,
  [class*="_comp_account_header__buttons"] .icon-button .icon-bell {
    background-image: var(--icon-bell-header-tabs);
  }

  [class*="_comp_account_header__buttons"] .icon-button.active .icon-bell-o,
  [class*="_comp_account_header__buttons"] .icon-button.active .icon-bell {
    background-image: var(--icon-bell-header-tabs-active);
  }

  .account__header .icon-button:hover,
  .account__header .icon-button:active,
  .account__header ._comp_account_header__followButton:hover,
  .explore__suggestions .account-card__actions__button button:hover,
  [class*="_comp_account_header__buttons"] .button:focus,
  [class*="_comp_account_header__buttons"] .button:hover,
  .notification .account__relationship > .button:hover,
  .notification .account__relationship > .button:focus,
  .account .account__relationship > .button:hover,
  .account .account__relationship > .button:focus {
    background-color: var(--color-profile-button-hover);
    border-color: var(--color-light-text);
    color: var(--color-light-text);
  }

  .detailed-status__action-bar .icon-button:focus,
  .status__action-bar .icon-button:focus,
  .detailed-status__action-bar .icon-button:hover,
  .status__action-bar .icon-button:hover {
    background-color: transparent;
  }

  .detailed-status__action-bar .icon-button:hover::after,
  .status__action-bar .icon-button:hover::after {
    opacity: 1;
  }

  .detailed-status__action-bar .icon-button::after,
  .status__action-bar .icon-button::after {
    background-color: rgba(96, 105, 132, 15%);
    border-radius: 50%;
    content: "";
    height: 36px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -8px;
    transform: translateX(8px) translateY(1px);
    width: 36px;
    z-index: -1;
  }

  .conversation .icon-button::after {
    transform: translateX(-8px) translateY(1px);
  }

  .conversation__content {
    overflow: visible;
  }

  .detailed-status__button {
    max-height: 24px;
    max-width: 120px;
    position: relative;
  }

  .detailed-status__button .icon-button.star-icon::after {
    transform: translateX(3px);
  }

  .status__action-bar .icon-button.icon-button--with-counter::after {
    transform: translateX(0) translateY(0);
  }

  @media (width >= 760px) {
    ._comp_account_header__header {
      height: 200px;
    }
  }
}
